<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Console Game library</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
   <header>
       <h1>Console Game Library</h1>
   </header> 
   <!-- give an action name -->
   <form class = "gamesSubmit" action="/games" method="POST">
   
    <label for="">Title
    <input type="text" placeholder="title" name="title">
</label>

<label for="">Release Date
   <input type="text" placeholder="release" name="release">
   </label>
   <label for="">Developer
   <input type="text" placeholder="developer" name="developer">
   </label>
   <label for="">platform
   <input type="text" placeholder="platform" name="platform">
   </label>
   <button type="submit">Add Game</button>
   </form>

   <h2>Games </h2>

<ul class="games">
  <!-- Loop through games -->
  <% for(var i = 0; i < games.length; i++) {%>
    <li class="game">
      <span id ='id' class = 'elements'><%= games[i]._id %></span>
      <!-- Output title from the iterated quote object -->
      <span id ='title' class = 'elements' contentEditable="false"><%= games[i].title %></span>
      <!-- Output release from the iterated quote object -->
      <span id ='release' class = 'elements'contentEditable="false"><%= games[i].release %></span>
       <!-- Output developer from the iterated quote object -->
      <span id='developer' class = 'elements'contentEditable="false"><%= games[i].developer %></span>
        <!-- Output release from the iterated quote object -->
        <span id='platform' class = 'elements'contentEditable="false"><%= games[i].platform %></span>
     <button class='editGame'>Edit</button>
     <button class ='updateGame'>Update</button>
    </li>
  <% } %>


</ul>

<script src="/main.js"></script>
   
</body>
</html>