<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Console Game library</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/normalize.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1>Console Game Collections</h1>
        
      </nav>
      
     
    
    </header>
    <!-- give an action name -->
    <section class="formWrapper">
      <form class="gamesSubmit" action="/games" method="POST">
        <label for="title"
          >Title </label>
          <input type="text" placeholder="Title of Game" name="title" />
       

        <label for="release"
          >Release Date</label>
          <input type="text" placeholder="Game Release Date" name="release" />
        
        <label for="developer"
          >Developer</label>
          <input type="text" placeholder="Game Developer" name="developer" />
     
        <label for="platform"
          >Platform</label>
          <input type="text" placeholder="Platform e.g. PS4" name="platform" />
       
        <button type="submit">Add Game</button>
      </form>
    </section>

    <main>
   
      <h3>Games</h3>
      <section class="games">
        <form action="/search" method="GET">
          <input class ='searchField' type="text" name="search" id="">
          <button type ='submit' class ='search'>Search</button>
        </form>
        <form action="/" method="GET">
          <button type ='submit' class ='search'>Reset</button>
        </form>
        <!-- Loop through games -->
        <% for(var i = 0; i < games.length; i++) {%>
       
        <section class="game">
          <section class="card">
          <span id="id" class="elements"><%= games[i]._id %></span>
          <!-- Output title from the iterated quote object -->
          <span id="title" class="elements" contentEditable="false"
            ><%= games[i].title %></span
          >
          <!-- Output release from the iterated quote object -->
          <span id="release" class="elements" contentEditable="false"
            ><%= games[i].release %></span
          >
          <!-- Output developer from the iterated quote object -->
          <span id="developer" class="elements" contentEditable="false"
            ><%= games[i].developer %></span
          >
          <!-- Output release from the iterated quote object -->
          <span id="platform" class="elements" contentEditable="false"
            ><%= games[i].platform %></span
          >
          <section class="buttons">
          <button class="editGame">Edit</button>
          <button class="updateGame">Update</button>
          <button class="deleteGame">Delete</button>
        </section>
          
          </section>
        </section>
        <% } %>
      </section>
  
    </main>

   
    <script src="/main.js"></script>
  </body>
</html>
